.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.avatar img {
  display: block;
  border: 1px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
