.event-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.not-found {
  background-color: #fff;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  padding-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

@media (max-width: 768px) {
  .not-found {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .event-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
}
